.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 3px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  opacity: 60%;
    &:hover {
      opacity: 80%;
      border-color: #9ecaed;
      box-shadow: 0 0 10px #9ecaed;
    }
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.box{
  width: 100%;
  text-align:center;
  background-image: url("https://images4.alphacoders.com/102/1020733.jpg");
  background-position: center;
  background-size: cover;
}

.simple_form {
  padding-top: 15%;
  padding-left: 30%;
  padding-right: 30%;
  height: 100vh;
}

// test
