
<div class="box">
  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
<div class="home">
    <div class="text-homepage">
      <h1>Rent a spacehip.</h1>
      <h1>Discover the entire universe.</h1>
      <h1>Repeat.</h1>
      <%= link_to "Launch", spaceships_path, class: "link" %>
    </div>
  </div>
</div>
