.container-sign {
  width: 400px;
  margin: 40px auto;
}

.container-spaceship {
  width: 700px;
  margin: 40px auto;
}

#ptitle {
font-size: 18px;
}

#title-index {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  font-family: 'Cinzel', serif;
}
