.filter_btn {
  margin-top: 10px;
  background-color: transparent;
  border: transparent;
  margin: 15px;
  border-radius: 10px;
  padding: 3px;
  height: 100%;
}

.filter_btn:hover {
  background-color: #F24453;
}
