.form-control {
  border-radius: 10px;
}

.form-filter {
  border-radius: 10px;
  margin-right: 10px;
}

.form {
  padding-top: 25px;
  padding-left: 20%;
  padding-right: 20%;
}

.btn {
  margin-top: 10px;
  background-color: #930940;
  border: #930940;
}

.btn:hover {
  background-color: #F24453;
  border: #F24453;
}

#search:hover {
  background-image: url("https://media3.giphy.com/media/G4WadRySq8IROWOLwc/giphy.gif?cid=ecf05e47m6rx4iq15f2qyndbede9c3sr2xfhro8hd9a9zisj&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  color: white;
    &::placeholder {
      color: white;
  }
}
