.form-control {
  border-radius: 10px;
}

.form {
  padding-top: 25px;
  padding-left: 20%;
  padding-right: 20%;
}

.btn {
  margin-top: 10px;
  background-color: #930940;
  border: #930940;
}

.btn:hover {
  background-color: #F24453;
  border: #F24453;
}
