.spaceship-infos {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  justify-content: space-around;

    img {
      width: 250px;
      height: 250px;
    }
}

.infos {
  border: 1px solid black;
}

.booking {
  border: 1px solid black;
}
