
#head-bar {
  margin-top: 40px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Cinzel', serif;
}

.user-pic {
  height: 40px;
  width: 40px;
  display: flex;
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 100%;
    box-shadow: 0 0 15px rgba(1, 1, 1, 0.7);
    border-radius: 50%;
  }
}

.container {
  margin-top: 0px;
}

#box {
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  align-items: center;

}

.box-description {
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  align-items: center;
    p {
      text-align: justify;
    }
}

.box-booking:hover {
  // background-image: url("https://images4.alphacoders.com/102/1020733.jpg");
  border-color: #1F4556;
  box-shadow: 0 0 10px #1F4556;
}

.box-booking {
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  border-right: 15px;
  position: fixed;
}

.row {
    justify-content: flex-start;
    padding: 0px;
    margin-right: 5px;
    align-content: center;
}

#spaceship-img {
  align-items: center;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  flex-direction: column;
  img {
    width: 230px;
    height: 150px;
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}

.checked {
  color: orange;
}

.rating {
  margin: 10px;
}
