.navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
  z-index: 9999;

  .nav-link {
    color:white;
  }
}

.navbar-transparent {
  background-color: transparent;
  position: fixed;
}

.navbar-image {
  background-image: url("https://lejournal.cnrs.fr/sites/default/files/styles/visuel_principal/public/assets/images/main_image_star-forming_region_carina_nircam_final-5mb_72dpi.jpg?itok=tGjbPUNa");
  background-size: cover;
  background-position:bottom ;
  box-shadow: 1px 1px 10px black;
}

.nav-link-home {
  color:white;
  text-align: right;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width:fit-content;
  height: 70px;
  margin-left: 20px;
}

li {
  width: 100px;
  text-align: center;
}

#avatar {
  margin-right: 80px;
}

#other_options {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  color: rgb(171, 160, 160);
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}

#sign_in a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-right: 60px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

#sign_in {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
}
