.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
  box-shadow: 1px 1px 1px grey;

  .nav-link {
    color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width:fit-content;
  height: 70px;
  margin-left: 20px;
}

li {
  width: 150px;
  text-align: center;
}

#other_options {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(171, 160, 160);
}

.nav-link {
  color: white;
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}
